<%- include('partials/header') %>

<h1>Compose Page</h1>

<form action="/" method="post">
<label for="title">Title</label> <br>    <input type="text"  name="title"> <br> <br>
<label for="data">Data</label>  <br>   <textarea name="data" id="data" cols="100" rows="7"></textarea> <br> <br>
<input type="submit" value="publish" class="btn btn-md btn-primary">
</form>


<%- include('partials/footer') %>